<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RuralReport</title>
    <link rel="stylesheet" href="{{url_for('static', filename='estilo.css')}}">
</head>
<div class="header">
    <h1>RuralReport</h1>
  </div>
<body>
    <nav><a href="/index">login</a> <a href="{{ url_for('form') }}">form</a><a href="{{ url_for('logout') }}">Sair e deslogar</a></nav>
    {% block conteudo %}
    {% endblock %}
    <div class="footer">
        <p>UFRRJ - @smartIM</p>
    </div>
</body>
</html>