<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RuralReport</title>
    <link rel="stylesheet" href="{{url_for('static', filename='estilo.css')}}">
</head>
<div class="header">
    <h1>RuralReport</h1>
  </div>
<body>
    {%if 'email' in session%}
    <a class="dados"href="{{ url_for('dados') }}">Analisar chamados</a></nav>
    <a class="logout"href="{{ url_for('logout') }}">Logout</a>
    {%endif%}
    {% block conteudo %}
    {% endblock %}
    <div class="footer">
        <p>UFRRJ - @smartIM</p>
    </div>
</body>
</html>