{% extends 'base.html' %}
{% block conteudo %}
<link rel="stylesheet" href="{{url_for('static', filename='estiloDados.css')}}">
{% if admflag == 1%}
<h1>DADOS CHAMADOS - ADMIN</h1>
{%else%}
<h1>DADOS CHAMADOS</h1>
{% endif%}
<div class="filtro">
    <form action="" method="GET">
        <label for="filtro_email">Filtrar por Email:</label>
        <input type="text" name="filtro_email" id="filtro_email" value="{{ request.args.get('filtro_email', '') }}">
    
        <label for="filtro_lugar">Filtrar por Lugar:</label>
        <select name="filtro_lugar" id="filtro_lugar">
            <option value="">Todos</option>
            {%for l in lugares%}
            <option value="{{l.nome}}">{{l.nome}}</option>
            {%endfor %}
        </select>
    
        <label for="filtro_tipo">Filtrar por Tipo de lugar:</label>
        <select name="filtro_tipo" id="filtro_tipo">
            <option value="">Todas</option>
            <option value="aula">Sala de aula</option>
            <option value="banheiro">Banheiro</option>
            <option value="lab">Laboratório</option>
    
        </select>
        <label for="filtro_status">Filtrar por status:</label>
        <select name="filtro_status" id="filtro_status">
            <option value="">Todos</option>
            <option value='1'>fechado</option>
            <option value='0'>aberto</option>
        </select>
        <button type="submit">Filtrar</button>
    </form>
</div>
<div class ='container'>
    <table>
        <thead>
            <tr>
                <th><a href="?ordem=id">id</a></th>
                <th><a href="?ordem=email">email</a></th>
                <th><a href="?ordem=status">status</a></th>
                <th><a href="?ordem=lugar">lugar</a></th>
                <th><a href="?ordem=bloco">bloco</a></th>
                <th><a href="?ordem=tipo">tipo</a></th>
                <th><a href="?ordem=andar">andar</a></th>
                <th><a href="?ordem=categoria">categoria</a></th>
                <th><a href="?ordem=sub_categoria">subcategoria</a></th>
                <th>descricao</th>
                <th><a href="?ordem=data">data_chamado</a></th>
            </tr>
        </thead>
       {% if admflag == 1%}
        <tbody>
            {% for c in chamados %}
            <tr class="{% if c.status %}fechado{% else %}aberto{% endif %}">
            
                <td>{{c.id}}</td>
                <td>{{c.email}}</td>
                {% if c.status == True %}
                <td>Fechado</td>
                {%else%}
                <td>Aberto <form action="/chamadoAtt" method="post"> 
                    <input type="hidden" name="chamado_id" value="{{c.id}}">
                    <input type="hidden" name="chamado_email" value="{{c.email}}">
                  <button type="submit">Fechar</button></form>   
                </td>
                {% endif %}
                {%for l in lugares %}
                {%if c.lugar_id == l.id%}
                <td>{{l.nome}}</td>
                <td>{{l.bloco}}</td>
                <td>{{l.tipo}}</td>
                <td>{{l.andar}}</td>
                {%endif%}
                {% endfor %}
                <td>{{c.categoria}}</td>
                <td>{{c.sub_categoria}}</td>
                <td>{{c.descricao}}</td>
                <td>{{c.data_chamado}}</td>
            </tr>
            {% endfor %}
        </tbody>
        {%else %}
        {% for c in chamados %}
            {%if session['email'] == c.email%}
        <tr class="{% if c.status %}fechado{% else %}aberto{% endif %}">
        
            <td>{{c.id}}</td>
            <td>{{c.email}}</td>
            {% if c.status == True %}
            <td>Fechado</td>
            {%else%}
            <td>Aberto   
            </td>
            {% endif %}
            {%for l in lugares %}
            {%if c.lugar_id == l.id%}
            <td>{{l.nome}}</td>
            <td>{{l.bloco}}</td>
            <td>{{l.tipo}}</td>
            <td>{{l.andar}}</td>
            {%endif%}
            {% endfor %}
            <td>{{c.categoria}}</td>
            <td>{{c.sub_categoria}}</td>
            <td>{{c.descricao}}</td>
            <td>{{c.data_chamado}}</td>
        </tr>
            {% endif %}
        {% endfor %}
        {% endif%}
    </table>
</div>
{% endblock %}